{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <form method="post" class="vstack col-9 mx-auto my-3">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <label class="form-label" for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3"
               autocomplete="email" required autofocus>
        <label class="form-label" for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password"
               required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary col-9 mx-auto" type="submit">
            Sign in
        </button>
    </form>

    <a href="{{ path('app_register') }}" class="d-block btn btn-secondary btn-sm col-6 mx-auto">Créer un compte</a>
{% endblock %}
