{% extends 'base.html.twig' %}

{% block body %}
    <div data-controller="carousel" class="swiper" data-carousel-options-value='{"autoplay": true}'>
        <div class="swiper-wrapper">
            {% for dish_photo in dish_photos %}
                <div class="swiper-slide">
                    <img alt="Gallery image" src="{{ asset(dish_photo.image) }}"
                         class="gallery-image img-fluid">
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="vstack mx-auto">
            <a class="btn btn-lg btn-primary col-8" id="reserve-link-main"
               href="{{ path('app_reservation') }}">Réserver</a>
            <a class="btn btn-lg btn-secondary col-8" id="menu-link" href="{{ path('app_menu') }}">Carte et Menus</a>
        </div>
    </div>
{% endblock %}