{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique - Connexion{% endblock %}

{% block body %}
    <form action="{{ path('homepage') }}">
        <label for="username-input" id="username-label">Adresse email:</label>
        <input id="username-input" type="email">
        <label for="password-input" id="password-label">Mot de passe:</label>
        <input id="password-input" type="password">
        <button id="login-button">Connexion</button>
    </form>
{% endblock %}