{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique - Connexion{% endblock %}

{% block body %}
    <form>
        <label id="username-label">Adresse email:</label>
    </form>
{% endblock %}