{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <form action="{{ path('app_login') }}" method="post">
        <label for="username-input" id="username-label">Adresse email:</label>
        <input id="username-input" type="email" name="_username">
        <label for="password-input" id="password-label">Mot de passe:</label>
        <input id="password-input" type="password" name="_password">
        <button id="login-button" type="submit">Connexion</button>
    </form>
{% endblock %}